
@model CategoriesVM


@section Scripts {
    
    <script>

        $(document).ready(function () {
           
            $('#parent_category').change(function () {
                var parentCategoryId = $(this).val();
                var subCategorySelect = $('#sub_category');
                subCategorySelect.empty();
                subCategorySelect.append('<option value="">-- Select Subcategory --</option>');
                if (parentCategoryId) {
                    $.ajax({
                        url: '@Url.Action("GetSubcategories", "Categories")',
                        type: 'GET',
                        data: { parentCategoryId: parentCategoryId },
                        success: function (subcategories) {
                            $.each(subcategories, function (i, subcategory) {
                                subCategorySelect.append($('<option>', {
                                    value: subcategory.category_id,
                                    text: subcategory.category_name
                                }));
                            });
                        }
                    });
                }
            });
        });

                function showOnly(id) {
          const allDivs = document.getElementsByClassName('content-box');
          for (let div of allDivs) {
            div.style.display = "none";
          }
          for (let i = 1; i <= 5; i++) {
               let element = document.getElementById("btn-" + i);
         element.style.backgroundColor = "gray";
          }
            let element = document.getElementById("btn-" + id);
         element.style.backgroundColor = "green";
          document.getElementById(id).style.display = "block";
        }

    </script>
}


<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-white py-2">Update @Model.Title Category</h2>

            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">

            @Html.HiddenFor(m => m.ctg)
            @Html.HiddenFor(m => m.Category.category_id)
            @Html.HiddenFor(m => m.maincategoryid)
            @Html.HiddenFor(m => m.subcategoryid)
            <div class="p-3">
                <div class="form-floating py-2 col-12">
                    
                    <select id="parent_category" asp-for="maincategoryid" asp-items="@Model.categoryList" class="form-control form-select border shadow">
                        <option value="">--Select Parent Category--</option>
                    </select>
                    <label asp-for="maincategoryid" class="ms-2">Parent Category</label>
                </div>
              
                    <div class="form-floating py-2 col-12">
                    <select id="sub_category" asp-for="subcategoryid" asp-items="@Model.subCategoryList" class="form-control form-select border shadow">
                            <option value="">--Select  Sub category--</option>
                        </select>
                    <label asp-for="subcategoryid" class="ms-2">Sub category</label>
                    </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Category.category_name" class="form-control border shadow" required="required" />
                    <label asp-for="Category.category_name" class="ms-2 fw-bold"> @Model.Title Category Name</label>
                    <span asp-validation-for="Category.category_name" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    
                    <div>  <input type="checkbox" class="me-3" asp-for="Category.hidden" />   Hidden </div>
                </div>
                <div class="container">
                    <div class="row flex-nowrap overflow-auto py-3">

                        <button type="button" id="btn-1" class="col-2 btn btn-success content-button" onclick="showOnly('1')">Category Descriptions</button>
                        <button type="button" id="btn-2" class="col-3 btn btn-secondary content-button" onclick="showOnly('2')">Search Engine Optimization</button>
                        <button type="button" id="btn-3" class="col-2 btn btn-secondary content-button" onclick="showOnly('3')">Category Display</button>
                        @* <button type="button" id="btn-4" class="col-2 btn btn-secondary content-button" onclick="showOnly('4')">Subcategory Display</button> *@
                        <button type="button" id="btn-4" class="col-2 btn btn-secondary content-button" onclick="showOnly('4')">Product Display</button>
                        <button type="button" id="btn-5" class="col-2 btn btn-secondary content-button" onclick="showOnly('5')">Misc</button>
                    </div>
                    <div class="d-flex justify-content-center align-items-center fw-bold text-decoration-underline">Advanced Info</div>
                </div>

                <div>
                    <div id="1" class="content-box"> <partial name="_CategoryDescriptions" model="@Model" /></div>
                    <div id="2" class="content-box" style="display:none;"><partial name="_SearchEngineOptimization" model="@Model" /></div>
                    <div id="3" class="content-box" style="display:none;"><partial name="_CategoryDisplay" model="@Model" /></div>
                    @* <div id="4" class="content-box" style="display:none;"><partial name="_SubcategoryDisplay" model="@Model" />  </div> *@
                    <div id="4" class="content-box" style="display:none;"><partial name="_ProductDisplay" model="@Model" /></div>
                    <div id="5" class="content-box" style="display:none;"><partial name="_Misc" model="@Model" /></div>
                </div>

                <div class="row pt-2 d-flex justify-content-center align-items-center">
                    <div class="col-6 col-md-3">
                        <button type="submit" asp-action="UpdateCategories" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i>Update
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary w-100"> <i class="bi bi-x-circle"></i>Cancel</a>
                    
                    </div>
                   
                </div>
            </div>
        </form>
    </div>
</div>





