@model ProductsVM


<div class="row">
<div class="col pb-4 d-flex justify-content-center align-items-center" style="height:15px">
    <partial name="_Paging" model="Model" style="height:5px" />
</div>


</div>

<div class="w-100    card border-0 p-1 overflow-auto" style="max-height: 950px;">
    <table  class="table table-bordered table-striped">
        <thead>
            <tr>
              
                <th><a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["PCSort"]>
                        Product Code <i class="fa fa-fw fa-sort"></i>
                    </a>
                </th>
                <th>Main Image </th>
                <th><a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["PNSort"]>Product Name
                        <i class="fa fa-fw fa-sort"></i>
                </a></th>
                <th><a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["PPSort"]>Product Price <i class="fa fa-fw fa-sort"></i></a></th>
                <th>Categories</th>
                <th><a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["SSSort"]>Stock Status <i class="fa fa-fw fa-sort"></i></a></th>
                <th><a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["HSort"]>Hidden <i class="fa fa-fw fa-sort"></i></a></th>
                <th>Delete</th>
                <th></th>
            </tr>
        </thead>
       
        <tbody>
     
            @foreach (var prod in Model.Products.Items)
            {
                <tr>
                    <td>     <a asp-controller="Products" asp-action="Delete" asp-route-pc="@prod.product_code class="btn btn-danger mx-2">@prod.product_code</a></td>
                    <td><img src="~/Media/@prod.photo_url" onerror="NoImg(this);" alt="@prod.product_name" class="img-thumbnail img-fluid" style=" max-width: 5rem; max-height: 10rem;"></td>
                    <td>@prod.product_name</td>
                    <td>@prod.product_price</td>
                    <td>@prod.category_name
                    </td>
                    <td>@prod.stockstatus</td>
                    <td>@prod.hidden</td>
                  
                    <td>

                        <div class="w-75 btn-group" role="group">
                                       <button class="btn btn-danger mx-2" onclick="event.stopPropagation(); setDelete('@prod.product_code','@prod.product_name');" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
         
    </table>
</div>

<div class="pb-4 pt-3 d-flex justify-content-center align-items-center vh-25" style="height:5px">
    <partial name="_Paging" model="Model" />
</div>


@* <div class="row">
    <div class="col pb-4 d-flex justify-content-center align-items-center" style="height:15px">
        <partial name="_Paging" model="Model" style="height:5px" />
    </div>

</div>
<div class="container border text-center w-100 ">
    <div class="row fw-bold border-bottom bg-light py-2">
        <div class="col">
            <a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["PCSort"]>
                Product Code <i class="fa fa-fw fa-sort"></i>
            </a>
        </div>
        <div class="col">Main Image</div>
        <div class="col">
            <a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["PNSort"]>
                Product Name
                <i class="fa fa-fw fa-sort"></i>
            </a>
        </div>

        <div class="col"><a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["PPSort"]>Product Price <i class="fa fa-fw fa-sort"></i></a></div>
        <div class="col">Categories</div>

        <div class="col"><a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["SSSort"]>Stock Status <i class="fa fa-fw fa-sort"></i></a></div>

        <div class="col"><a class="text-dark" asp-controller="Products" asp-action="Index" asp-route-ps="@ViewData["pagesize"]" asp-route-pt="@ViewData["pageType"]" asp-route-so=@ViewData["HSort"]>Hidden <i class="fa fa-fw fa-sort"></i></a></div>

        <div class="col">Delete</div>

    </div>
    <div class="card border-0 p-1 overflow-x-hidden overflow-y-auto" style="max-height: 950px;">
        @foreach (var prod in Model.Products.Items)
        {
            <div class="row border-bottom py-2 ">
                <div class="col">     <a asp-controller="Products" asp-action="Delete" asp-route-pc="@prod.product_code class="btn btn-danger mx-2">@prod.product_code</a></div>
                <div class="col"><img src="~/Media/@prod.photo_url" onerror="NoImg(this);" alt="@prod.product_name" class="img-thumbnail img-fluid" style=" max-width: 5rem; max-height: 10rem;"></div>
                <div class="col">@prod.product_name</div>
                <div class="col">@prod.product_price</div>
                <div class="col">
                    <a onmouseout="hidewmodel()" onmouseover="event.stopPropagation(); showmodel('@prod.category_name');" onmousemove="hidewmodel()">
                        @prod.Categories
                    </a>
                      </div>
                     
                <div class="col">
                    @prod.category_name
                </div>
              
                <div class="col">@prod.stockstatus</div>
                <div class="col">@prod.hidden</div>
                <div class="col">
                    <div class="w-75 btn-group" role="group">
                        <a class="btn btn-danger mx-2" onclick="event.stopPropagation(); setDelete('@prod.product_code','@prod.product_name');" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div> 
 <div class="pb-4 pt-3 d-flex justify-content-center align-items-center vh-25" style="height:5px">
    <partial name="_Paging" model="Model" />
</div> 

 <div class="modal fade" id="hoverModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label id="categorytxt" />
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
           
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    function showmodel(name) {
    document.getElementById("categorytxt").textContent  =name;
    const modalElement = document.getElementById('hoverModal');
    const myModal = new bootstrap.Modal(modalElement);
    myModal.show();
    }

    function hidewmodel() {
    const modalElement = document.getElementById('hoverModal');
    const myModal = new bootstrap.Modal(modalElement);
    myModal.hide();
    }
</script> *@