
@model ProductsVM
@{
    int totalPages = Model.totalPages;
    int currentPage = Model.currentPage;
    int midSize = 2; 
}


<div class="pagination">


    <a class="page-link text-black busyanchor" href="@Url.Action("Index", new { page = 1, ps = ViewData["pagesize"], pt = ViewData["pageType"], so = ViewData["CurrentSort"] })"><<</a>

    @if (currentPage > 1)
    {
        <a class="page-link text-black busyanchor" href="@Url.Action("Index", new { page = currentPage - 1, ps = ViewData["pagesize"], pt = ViewData["pageType"], so = ViewData["CurrentSort"] })">Prev</a>
    }

    @for (int i = 1; i <= totalPages; i++)
    {
      
        if (i == 1 || i == totalPages || (i >= currentPage - midSize && i <= currentPage + midSize))
        {
            if (i == currentPage || (currentPage == 0 && i == 1))
            {
                <span class="active page-link text-black" >@i</span>
            }
            else
            {
                <a class="page-link text-black busyanchor" href="@Url.Action("Index", new { page = i, ps = ViewData["pagesize"], pt = ViewData["pageType"], so = ViewData["CurrentSort"] })">@i</a>
            }
        }
     
        else if (i == 2 || i == totalPages - 1)
        {
            <span >.   .   .</span>
        }
    }

    @if (currentPage < totalPages)
    {
        <a class="page-link text-black busyanchor" href="@Url.Action("Index", new { page = currentPage + 1, ps = ViewData["pagesize"], pt = ViewData["pageType"], so = ViewData["CurrentSort"] })">Next</a>
    }
    <a class="page-link text-black busyanchor" href="@Url.Action("Index", new { page = totalPages, ps = ViewData["pagesize"], pt = ViewData["pageType"], so = ViewData["CurrentSort"] })">>></a>
</div>




