@model ProductsVM



@section Scripts {
    
    <script>

          $(document).ready(function () {
           
              $('#parent_category').change(function () {
                  var parentCategoryId = $(this).val();
                  var subCategorySelect = $('#sub_category');
                  subCategorySelect.empty();
                  subCategorySelect.append('<option value="">-- Select Subcategory --</option>');
                  if (parentCategoryId) {
                      $.ajax({
                          url: '@Url.Action("GetSubcategories", "Categories")',
                          type: 'GET',
                          data: { parentCategoryId: parentCategoryId },
                          success: function (subcategories) {
                              $.each(subcategories, function (i, subcategory) {
                                  subCategorySelect.append($('<option>', {
                                      value: subcategory.category_id,
                                      text: subcategory.category_name
                                  }));
                              });
                          }
                      });
                  }
              });
          });


          //        function validateDecimal(input) {
          //   let value = input.value.replace(/[^0-9.]/g, '');
          //   const parts = value.split('.');
          //   if (parts.length > 2) {
          //     value = parts[0] + '.' + parts.slice(1).join('');
          //   }
          //   input.value = value;
          // }
          //oninput="validateDecimal(this)"

        const inputs = document.querySelectorAll('.Decimal-class');
          inputs.forEach(input => {
            input.addEventListener('input', function() {
                  this.value = this.value.replace(/[^0-9.]/g, '');
            const regex = /^\d{0,5}(\.\d{0,2})?$/;
            if (!regex.test(this.value)) {
                this.value = this.value.slice(0, -1);
            }
        });
          });



    </script>
}

@* <style>

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

</style> *@


<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-white py-2">Product Search</h2>

            </div>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center align-items-center w-100">
    <form method="post" class="row w-50 justify-content-center" enctype="multipart/form-data">

    
        <div class="form-floating py-2 col-12">
            <input asp-for="Product.product_name" class="form-control border shadow" />
            <label class="ms-2 fw-bold"> Product Name</label>
            <span asp-validation-for="Product.product_name" class="text-danger"></span>
        </div>

        <div class="form-floating py-2 col-12">
            <input asp-for="Product.product_code" class="form-control border shadow" />
            <label class="ms-2 fw-bold"> Product Code</label>
            <span asp-validation-for="Product.product_code" class="text-danger"></span>
        </div>

        <div class=" row form-floating py-2 col-12">
            <div class=" col form-floating py-2 col-12 w-25">
                <input asp-for="@Model.product_price_min"   class="form-control border shadow Decimal-class" />
                <label class="ms-2 fw-bold">Product Price Min</label>
            </div>
            <div class=" col form-floating py-2 col-12 w-25">
                <input id="myInput" asp-for="@Model.product_price_max"  class="form-control border shadow Decimal-class" />
                <label class="ms-2 fw-bold">Product Price Max</label>
            </div>
        </div>
  
        <div class="row form-floating py-2 col-12">


            <div class="form-floating py-2 col-12 w-25">
                <input asp-for="@Model.product_weight_min"  class="form-control border shadow Decimal-class" />
                <label class="ms-2 fw-bold"> Product Weight Min</label>
            
            </div>
            <div class="form-floating py-2 col-12 w-25">
                <input asp-for="@Model.product_weight_max"  class="form-control border shadow Decimal-class" />
                <label class="ms-2 fw-bold"> Product Weight Max</label>

            </div>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Product.tab_product_desc" class="form-control border shadow" />
            <label class="ms-2 fw-bold">Product Desc</label>
            <span asp-validation-for="Product.tab_product_desc" class="text-danger"></span>
        </div>



    
        <div class="form-floating py-2 col-12">
                    
            <select id="parent_category" asp-for="@Model.parent_category_id" asp-items="@Model.categoryList" class="form-control form-select border shadow">
                <option value="">--Select Parent Category--</option>
            </select>
            <label asp-for="@Model.parent_category_id" class="ms-2">Parent Category</label>
        </div>

        <div class="form-floating py-2 col-12">
            <select id="sub_category" asp-for="@Model.category_id" asp-items="@Model.subCategoryList" class="form-control form-select border shadow">
                <option value="">--Select  Sub category--</option>
            </select>
            <label asp-for="@Model.category_id" class="ms-2">Sub category</label>
        </div>


        <div class="form-floating py-2 col-12">
            <select id="sub_category" asp-for="@Model.isInactive" class="form-control form-select border shadow">
                <option value="">--Select Is Active--</option>
                <option value="false">Active</option>
                <option value="true">Inactive</option>
            </select>
            <label asp-for="@Model.category_id" class="ms-2">Active Type</label>
        </div>


        <div class="form-floating py-2 col-12">
            <select id="sub_category" asp-for="@Model.isRestricted" asp-items="@Model.subCategoryList" class="form-control form-select border shadow">
                <option value="">--Select  is Restricted--</option>
                <option value="false">UnRestricted</option>
                <option value="true">Restricted</option>
            </select>
            <label asp-for="@Model.isRestricted" class="ms-2">Restricted Type</label>
        </div>


        <div class="row pt-2 d-flex justify-content-center align-items-center">
            <div class="col-6 col-md-3">
                <button type="submit" asp-action="ProductSearch" class="btn btn-success w-100">
                    <i class="bi bi-check-circle"></i>Search
                </button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Products" asp-action="Index" class="btn btn-secondary w-100"> <i class="bi bi-x-circle"></i>Cancel</a>
                    
            </div>
                   
        </div>

   
    </form>
</div>
